.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(90deg, #183114 0.75%, #446129 100%);
    height: 100vh;
    
  }
  
  .textContainer {
    width: 60%;
  }
  
  .image-container {
    width: 40%;
  }
  
  h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 2.2em;
    
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  