.main-container{
    width: 100%;
    height: auto;
    padding: 20px;
    background: linear-gradient(90deg, #183114 0.75%, #446129 100%);
}
.main-heading{
    color:#FCEE21
}
.text-and-image-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.subheading-container{
    width: 50%;
}
.vector-container{
    width: 50%;
}
.vector-container>img{
    width: 100%;
    height: auto;
}
.subheading-container>p{
    color: white;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em; 
      }
    
      p {
        font-size: 0.9em; 
      }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-container{
        width: 100%;
        height: auto;
        padding-top: 30px;
      
    }
    h1 {
        font-size: 2em; 
      }
      .ppp {
        margin-top: 20px;
        font-size: 1.5em; 
      }
}