.single-blog-post {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
  }
  
  .author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .blog-title{
    margin-top: 40px;
    text-align: center;
  }
  .blog-image {
    margin-top: 20px;
    width: 100%;
  }
  
  .blog-description {
    padding: 20px 0px 20px 0px;
  }
  .social_media_icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  .social_media_icons{
    cursor: pointer;
  }
  .related-blogs{
    width: 100%;
    overflow-x:hidden ;
  }
  .related-blogs{
    display: flex;
    justify-content: center;
  }
  .Swiper{
      width: 80%;
      margin-left: 10%;
  }
  .Swiper-container{
    width: 100vw;
  }
  .Swiper-container-for-mobile{
    display: none;
  }
  .swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  @media (max-width: 768px) {
    .Swiper-container-for-mobile{
      display: initial;
    }
    .Swiper-container-for-desktop{
      display: none;
    }
    
    .Swiper{
      width: 80%;
     
  }
   
  }

 