.Latest-blog-cards{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.remove-decoration{
    color: black;
    transition: transform 0.3s ease
}
.remove-decoration:hover{
    transform: translateY(-8px);
}
@media (max-width: 768px) {
    .Latest-blog-cards{
        flex-direction: column;
        align-items: center;
    }
}