.container1{
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
    
}
.About-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
  .about-section-heading{
    text-align: center;
    color:'black';
    font-size: 3em;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 55px;
  }
  .about-section-p{
    font-size: 2em;
  }
  
  .txtContainer {
    width: 60%;
  }
  .socialMediaLinks{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
  } 
  .imageContainer >img {
    width: 400px;
    height: 400px;
  }
  .image-Container >img {
    width: 400px;
    height: auto;
  }
  .author-name{
    font-size: 3em;
    font-weight: bold;
  }
  .socialLinks{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .find-us{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
  .socialMediaLinks{
    padding-top: 10px;
  }

  @media (max-width: 768px) {
    .container1{
        height: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
    .About-container{
        display: flex;
        flex-direction: column;
      }
      .about-section-heading{
        padding-top: 40px;
        padding-bottom: 30px;
      }
      .txtContainer {
        width: 100%;
      }
      .socialMediaLinks{
        padding-bottom: 10px;
        gap: 5px;
      }
      .about-section-heading{
        font-size: 1.8em;
        font-weight: bolder;
      }
      .imageContainer >img {
        width: 250px;
        height: 250px;
      }
      .image-Container >img {
        width: 250px;
        height: 300px;
      }
      .about-section-p{
        font-size: 1em;
      }
      .author-name{
        font-size: 1.5em;
        font-weight: bold;
      }
      .socialLinks{
        padding-top: 30px;
      }
      .find-us{
        font-size: 1.8em;
        font-weight: bolder;
        text-align: center;
      }
      .find-us-mob{
        padding-left: 6%;
        width: 96%;
        text-align: center;
      }
      
  }