.container{
    padding: 50px;
    height: auto;
    
}
.About-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
  .about-section-heading{
    text-align: center;
    color:'black';
    font-size: 3em;
    margin: 20px;
    font-weight: bold;
  }
  .about-section-p{
    font-size: 2em;
  }
  
  .txtContainer {
    width: 60%;
  }
  .socialMediaLinks{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
  } 
  .imageContainer >img {
    width: 400px;
    height: 400px;
  }
  .image-Container >img {
    width: 400px;
    height: auto;
  }
  .author-name{
    font-size: 3em;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .container {
        padding: 20px 15px 10px 15px;
        height: auto;
    }
    .About-container{
        display: flex;
        flex-direction: column;
       
        
      }
      .txtContainer {
        margin-top: 15px;
        width: 80%;
      }
      .socialMediaLinks{
        gap: 5px;
      }
      .about-section-heading{
        font-size: 1.5em;
        font-weight: bold;
      }
      .imageContainer >img {
        width: 250px;
        height: 250px;
      }
      .image-Container >img {
        width: 250px;
        height: 300px;
      }
      .about-section-p{
        font-size: 1em;
      }
      .author-name{
        font-size: 1.5em;
        font-weight: bold;
      }
    
  }