.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 330px;
  }
.search-bar-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #FCEE21;
    outline: none;
    font-size: 26px;
    color: #FCEE21;
    background: transparent;
    padding-right: 45px;
  }
  .search-bar-input::placeholder{
    color: #FCEE21;
    font-size: 30px;
  }
  .search-icon {
    position: absolute;
    right: 0px;
    top: 6px;
    cursor: pointer;
    font-size: 28px;
  }

.result-dialog-box{
    width: '400px';
    height: '400px';
    overflow: 'auto';
    border: '1px solid #ccc'
}


@media (max-width: 768px) {
  .search-bar {
    width: 230px;
  }
  .search-icon {
    display: none;
  }
  .search-bar-input {
    font-size: 20px;
  }
  .search-bar-input::placeholder{
    font-size: 20px;
  }
}

