.text-container{
    display: flex;
    color: #DCDE9F;
    justify-content:space-between;
    margin-top: 20px;
}
.footer{
    background: #183114;
    padding: 25px 50px 25px 50px;

}
.txt{
    width: 300px;

}
ul>li{
    cursor: pointer;
    line-height: 22px;
}

.social-media-links{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;

}
.info{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 767px) {
    .text-container {
        flex-direction: column; 
        gap: 20px;
    }

    .txt {
        margin-top: 10px; 
    }
    .flex-row{
        display: flex;
        gap: 25px;
        align-items: center;
    }
}