.logo-heading{
    font-size: 24px;
    font-weight: 700;
    color: #FCEE21
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem;
    position: fixed; 
    width: 100vw;
    height: 60px;
    z-index: 10;
    background: linear-gradient(90deg, #183114 0%, #446129 100%);
    backdrop-filter: blur(10px);
}
.search-bar-comp{
    padding-top: 30px;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    padding-right: 1rem;
}


.nav-item {
    color: white;
    cursor: pointer;
    transition: color 0.3s;
  }
  .nav-item:hover {
    color: #FCEE21
}
.hamsburger{
    display: none;
}
@media screen and (max-width: 1040px) {
    .logo-heading{
        font-size: 18px;
        font-weight: 400;
    }
    .header {
        justify-content: space-between
    }
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;

    }
    .nav-menu.active{
        left: -25%;
    }
    .nav-menu li{
        padding:1rem 0;
        font-size: 28px;
    }
    .hamsburger{
        display: initial;
    }
}