.blog-page{
    width: 98vw;
}
.blog-layout{
    display: flex;
    
}
.category-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin-top: 20px;
    row-gap: 20px;
}
.blogs-section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between; 
}

.cards{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
  
  @media only screen and (max-width: 768px) {
    .blog-layout {
      flex-direction: column;
    }
  
    .category-section,
    .blogs-section {
      width: 100%;
    }

    .blog-card {
      width: 100%;
    }
  }
  