.footer{
    background: #183114;
    padding: 40px 150px 40px 150px;

}
.txt{
    width: 340px;
}
.text-container{
    display: flex;
    color: #DCDE9F;
    justify-content:space-between;
    margin-top: 20px;
}

.social-media-links{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    

}
.info{
    display: flex;
    justify-content: space-between;
}

.flex-row_1>li{
    cursor: pointer;
    font-size: 25px;
}
.flex-row_1>li:not(:first-child){
    margin-top: 8px;
    
}
.flex-row_2>li{
    cursor: pointer;
    font-size: 25px;
}
.flex-row_2>:not(:first-child){
    margin-top: 8px;
    
}
.flex-row_2>li>a{
    color: #DCDE9F;
    text-decoration: none;
}
.info-p{
    font-size: 25px;
}
.txt-p{
    color: #DCDE9F;
    font-size: 20px
}
@media only screen and (max-width: 767px) {
    .footer{
        background: #183114;
        padding: 25px 30px 25px 30px;
    
    }
    .footer-heading{
        text-align: center;
    }
    .text-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        text-align: center;
    }
    .flex-row{
        margin-top: 10px;
    }

    .txt {
        margin-top: 10px; 
        
    }
    .txt-p{
        font-size: 16px;

    }
    .for-mobile{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .flex-row_1{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 20px;  
        justify-content: center;
        gap: 30px;
    }
    .flex-row_2>li{
        font-size: 20px;
        margin-top: 0px;
    }
    .flex-row_1>li{
        font-size: 20px;
        
    }
    .flex-row_2{
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-left: 20px;
    }
    .flex-row_2>li{
        padding-right: 18px;
    }
    .flex-row_1>li:not(:first-child){
        margin-top: 0px;
        
    }
    .flex-row_2>li:not(:first-child){
        margin-top: 0px;
        
    }
    .info{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
    }
    .social-media-links{
        margin-left: 0px;
    }
    .info-p{
        font-size: 18px;
    }
    .social-media-links{
        margin-top: 20px;
        margin-bottom: 20px;
        
    
    }
}