.newsletter-popup-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 70px;

}

.container-div {
    margin: 20px;
    background: linear-gradient(90deg, #183114 0%, #446129 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
}

.newsletter-popup {
    width: 900px;
    height: 300px;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(90deg, #183114 0%, #446129 100%);
}

.img_container {
    padding: 20px;
    margin-top: 25px;
}
.email-image{
    width: 330px;
    height: auto;
}
.image-container img {
    width: 100%;
}

.text_container {
    margin-top: 30px;
    padding: 20px;

}

.txt-color {
    color: #FCEE21;
    font-size: 2.3em;
    margin-bottom: 16px;
}

.txt-color-p {
    color: #DCDE9F;
    font-size: 1.6em;
    word-spacing: 6px;
}

/* SubscribeForm.css */

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 45px;
    border: 2px solid #FCEE21;
    border-radius: 50px;
    overflow: hidden;
}

.email-input {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    width: 280px;  
    color: #FCEE21;
    padding-top: 4px;
   
    
}
.email-input::placeholder{
    color: #FCEE21;
    font-size: 22px;
}

.subscribe-button {
    height: 100%;
    border-radius: 50px; 
    border: none;
    border: 2px solid #FCEE21;
    background: #FCEE21;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    font-size: 22px;
}


@media (max-width: 768px) {
    .newsletter-popup {
        flex-direction: column;
        height: auto;
        width: 800px;
        
    }
    .text_container {
        margin-top: 10px;
        
    
    }

    .img_container,
    .text_container {
        padding: 10px;
        text-align: center;
    }

    .newsletter-popup {
        width: 100%;
    }
    .email-input{
        width: 180px;
    }
    .subscribe-button {
        width: 60px;
    }
    .txt-color {
        text-align: center;
    }
    .txt-color-p {
        text-align: start;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .email-input::placeholder{
        font-size: 16px;
    }
    .subscribe-button {
        width: 120px;
        font-size: 16px;
    }
    .txt-color-p {
        font-size: 16px;
    }
    .input-container {
       
        height: 40px;
        
    }
    
   
}