.latest-blog-heading {
  text-align: center;
  padding: 75px;
  color: #183114;
  font-weight: bold;
  font-size: 3em;
  padding-top: 100px;
}
.blog-page {
  width: 100vw;
}
.blog-layout {
  display: flex;
  justify-content: center;
}
.card-hover {
  transition: transform 0.3s ease;
}
.card-hover:hover {
  transform: translateY(-8px);
}
.cards > a {
  text-decoration: none;
  color: black;
}
.category-section {
  width: 20%;
}
.category-heading {
  text-align: center;
  padding-left: 50px;
  font-weight: bold;
  font-size: 30px;
}
.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 50px;
  row-gap: 20px;
}
.each-category {
  font-size: 30px;
  margin-top: 30px;
}
.each-category:hover{
  cursor: pointer;
}
.blogs-section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-links li a p {
  position: relative;
  margin-top: 20px;
  color: black;
}
.category-links li a p:hover {
  color: #5b8336;
}
.boton {
  background: #183114;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height: 75px;
  color: #fcee21;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .latest-blog-heading {
    font-size: 2em;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog-layout {
    flex-direction: column;
  }

  .category-section,
  .blogs-section {
    width: 100%;
    justify-content: center;
  }
  .category-heading {
    padding-left: 0px;
  }
  .categories {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    
  }
  .each-category {
    font-size: 1.5em;
    margin-top: 0px;
    padding-top: 10px;
  }
  
  .blog-card {
    width: 100%;
  }
  .cards {
    margin-left: 0px;
  }
  .category-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .boton {
    width: 150px;
    height: 55px;
    font-size: 20px;
  }
}
