.blog-page{
    width: 98vw;
}
.blog-layout{
    display: flex;
    justify-content: center;
    
}
.card-hover{
  transition: transform 0.3s ease
}
.card-hover:hover{
  transform: translateY(-8px);
}
.cards>a{
  text-decoration: none;
  color: black;
}
.category-section{
  width: 20%;
}
.category-heading{
  text-align:center;
  margin-left:20px
}
.categories{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    row-gap: 20px;
    
}

.blogs-section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center; 
}

.cards{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}
.btn-container{
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-links li a p{
  position: relative;
  margin-top: 20px;
  color: black;
}
.category-links li a p:hover{
  color: #5b8336 
}
/* .category-links li::after {
  background-color:#555;
  content: "";
  width: 0px;
  height: 2px;
  left: 60px;
  top: 25px;
  transition: width 0.35s ease 0s;
  position: absolute;
} */

/* .category-links li:hover::after {
  width: 50%;
} */
  @media only screen and (max-width: 768px) {
    .blog-layout {
      flex-direction: column;
    }
    
    .category-section,
    .blogs-section {
      width: 100%;
      justify-content: center;
    }

    .blog-card {
      width: 100%;
    }
    .cards{
      margin-left: 0px;
    }
    .categories{
      margin-top: 0px;
      margin-left: 0px;
    }
    .category-links{
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .category-heading{
      margin-left: 0px;
    }
  
  }
  